---
import '../styles/global.css' 
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ryan Lu</title>
	</head>
	<body class="relative top-0 left-0 w-full h-full bg-black">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}
</style>
